workflows/02_claim_submit_monitor.json
{
  "name": "Swiss Truth — Claim einreichen & Status prüfen",
  "nodes": [
    {
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Manueller Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Claim-Daten setzen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "text",
              "value": "n8n ist eine Open-Source Workflow-Automatisierungsplattform, die über 400 Integrationen unterstützt und self-hosted betrieben werden kann.",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "domain_id",
              "value": "ai-ml",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "language",
              "value": "de",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "confidence_score",
              "value": 0.93,
              "type": "number"
            },
            {
              "id": "field-005",
              "name": "source_url",
              "value": "https://n8n.io",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Claim einreichen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300],
      "parameters": {
        "method": "POST",
        "url": "https://perigeal-impressionably-paulita.ngrok-free.dev/n8n/submit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Swiss-Truth-Key", "value": "dev-key-change-in-prod" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, domain_id: $json.domain_id, language: $json.language, confidence_score: $json.confidence_score, source_urls: [$json.source_url] }) }}"
      }
    },
    {
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Claim-ID & check_url merken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field-010",
              "name": "claim_id",
              "value": "={{ $json.claim_id }}",
              "type": "string"
            },
            {
              "id": "field-011",
              "name": "check_url",
              "value": "={{ $json.check_url }}",
              "type": "string"
            },
            {
              "id": "field-012",
              "name": "initial_status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Status abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1180, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.check_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Zertifiziert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1420, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-002",
              "leftValue": "={{ $json.certified }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Ergebnis: Zertifiziert",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1660, 200],
      "parameters": {}
    },
    {
      "id": "b2c3d4e5-0008-4000-8000-000000000008",
      "name": "Ergebnis: Noch ausstehend",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1660, 420],
      "parameters": {}
    }
  ],
  "connections": {
    "Manueller Start": {
      "main": [[{ "node": "Claim-Daten setzen", "type": "main", "index": 0 }]]
    },
    "Claim-Daten setzen": {
      "main": [[{ "node": "Claim einreichen", "type": "main", "index": 0 }]]
    },
    "Claim einreichen": {
      "main": [[{ "node": "Claim-ID & check_url merken", "type": "main", "index": 0 }]]
    },
    "Claim-ID & check_url merken": {
      "main": [[{ "node": "Status abrufen", "type": "main", "index": 0 }]]
    },
    "Status abrufen": {
      "main": [[{ "node": "Zertifiziert?", "type": "main", "index": 0 }]]
    },
    "Zertifiziert?": {
      "main": [
        [{ "node": "Ergebnis: Zertifiziert", "type": "main", "index": 0 }],
        [{ "node": "Ergebnis: Noch ausstehend", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "b2c3d4e5-face-4000-8000-000000000002",
  "meta": {
    "instanceId": "",
    "templateCredsSetupCompleted": true
  },
  "tags": [{ "name": "swiss-truth" }, { "name": "claim-submit" }],
  "pinData": {}
}
